.classpath
.DS_Store
.project
*.apk
*.exe
*.iml
*.ipa
*.log
*.sh
/.gradle/
/.idea/
/.metadata/
/.scannerwork/
/.settings/
/bin
/build/
/gradle/
/history
/history/
/out/
/target/
gradlew
gradlew.bat
serenity.properties